*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.items {
    width: 80%;
    border: 1px solid black;
    background-color: gray;
    padding: 50px;
    /* The perspective property is used to give a 3D-positioned element some perspective..When defining the perspective property for an element, it is the CHILD elements that get the perspective view, NOT the element itself.So, a lower value will result in a more intensive 3D effect than a higher value. */
    perspective: 150px;
    overflow-x: scroll;

    white-space: nowrap;
    cursor: pointer;
    /* The user-select property specifies whether the text of an element can be selected . */
    user-select: none;
    scale: 0.9;
    transition: 600ms scale ease;
}

.item {
    display: inline-flex;
    margin-left: -15px;
    border: 1px solid black;
    width: 150px;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    box-shadow:inset 0 0 0 20px  rgba(14, 10, 10, 0.5);
    
}
.items.active{
    cursor: grabbing;
    scale: 1;

}
.item:nth-child(even) {
    background-color: rebeccapurple;
    rotate: y 20deg;
}

.item:nth-child(odd) {
    background-color: green;
    rotate: y -20deg;
}

/* test  diff between flex and inline-flex*/
/* 
difference between display:flex and display:inline-flex
using display:flex will make parent block element.
using display:inline-flex will make parent inline element.

*/
.test{
    border: 1px solid black;
    /* there are two flex boxes and both have display as inline-flex so they will act like inline element and second one will be placed just adjacent to the first one if space is there. */
    display: inline-flex; 
    /*  there are two flex boxes and both have display as flex so they will act like block element and second one will be placed in another line.*/
    /* display: flex; */
    background-color: lightcoral;
        
}
.test div{
    font-size: 2rem;
    border: 1px solid wheat;
}


/* test white-space:nowrap property */
/* 
white-space:normal; text will wrap when necessary
white-space:nowrap; text will nver wrap to next line until a <br> tag is encountered.
*/
.span-div{
    margin: 100px auto;
    border:1px solid black;
    width: 300px;
    font-size: 2rem;
    white-space:nowrap;
    overflow-x:scroll ;
}