*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.container{
    border:1px solid black;
    margin:50px;
    padding: 20px;
    height: 90%;
}
.input-wrapper{
    /* border:1px solid black; */
    text-align: center;
    height: 10%;
}
input{
    height: 50px;
    padding: 5px;
    font-size: 1.5rem;
    outline:none;
    text-align: center;
}

.suggestion-wrapper{
    border: 1px solid black;
    padding: 10px;
    height: 90%;

}
ul{
    list-style: none;
    height: 600px;
    overflow: scroll;
}
li{
    border:1px solid lightgrey;
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.place{
    margin-right: 20px;
}

.hl{
    font-weight: bold;
}

.not-found{
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-size: 4rem;
}