*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    border: 1px solid black;
    padding: 10px;
    background-color: black;
 
}
ul{
    list-style: none;
}
li{
    background-color: lightblue;
    border: 1px solid black;
    padding: 5px;
}
  
.hide{
    display:none;
}
label{
    font-size: 2rem;
}
label::before{
    content: '💔';
    font-size: 2rem;
    margin-right: 10px;
    
}
input:checked + label::before{
    content: '❤️‍🩹';  
}

input{
    font-size: 1.5rem;
    width: 200px;
    margin-top: 10px;
    outline: none;
    padding: 5px;
}
button{
    font-size: 1.5rem;
    padding: 5px;

}